*{
    margin: 5px 5px;
}

#buscar{
    border-color: aquamarine;
    background-color: grey;
    color: black;
    border-radius: 5px;
}

#mas{
    color: blueviolet;
    background-color: aqua;
    border-radius: 50%;
    border-color: lightgreen;
}

#crearCuenta{
    color: whitesmoke;
    background-color: lightslategray;
    border: 5;
    box-shadow: 3px 3px black;
}